.changePassword {
    width: 100%;
    height: 100vh;
    background-color: #7e33e0;
    font-family: "Josefin Sans", sans-serif;
    .changePassword-header {
        width: 100%;
        height: 90%;
        display: flex;
        .changePassword-header-left {
            width: 50%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            .changePassword-header-left-logo {
                a {
                    font-weight: bold;
                    letter-spacing: 20px;
                    color: white;
                    font-size: 100px;
                }
            }
        }
        .changePassword-header-right {
            width: 50%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            .changePassword-header-right-container {
                width: 400px;
                height: 500px;
                background-color: white;
                border-radius: 5px;
                color: #1a0b5b;
                position: relative;
                .changePassword-header-right-container-logo {
                    position: absolute;
                    top: -5%;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 100px;
                    height: 100px;
                    background-color: white;
                    border-radius: 50%;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
                .changePassword-header-right-container-otp {
                    margin-top: 80px;
                    height: 150px;
                    width: 100%;
                    .changePassword-header-right-container-otp-title {
                        width: 100%;
                        height: 40%;
                        text-align: center;
                        font-size: 20px;
                        font-weight: bold;
                        .changePassword-header-right-container-otp-title-sub1 {
                            width: 100%;
                            height: 50%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
                        .changePassword-header-right-container-otp-title-sub2 {
                            width: 100%;
                            height: 50%;
                            font-size: 14px;
                            font-weight: normal;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
                    }
                    .changePassword-header-right-container-otp-input {
                        width: 100%;
                        height: 30%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                    .changePassword-header-right-container-otp-resend {
                        width: 100%;
                        height: 30%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        span {
                            cursor: pointer;
                            margin-left: 5px;
                            color: #ff2aaa;
                        }
                    }
                }
                .changePassword-header-right-container-form {
                    width: 100%;
                    height: calc(100% - 150px - 80px);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    form {
                        width: 80%;
                        height: 80%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        .changePassword-header-right-container-form-btn {
                            margin-top: 20px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            button {
                                padding: 10px 20px;
                                background-color: #7e33e0;
                                color: white;
                                border-radius: 5px;
                                cursor: pointer;
                                &:hover {
                                    background-color: #ff2aaa;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .changePassword-footer {
        width: 100%;
        height: 10%;
        display: flex;
        align-items: center;
        justify-content: center;
        .changePassword-footer-icons {
            display: flex;
            i {
                width: 30px;
                height: 30px;
                margin-left: 10px;
                border-radius: 50%;
                background-color: white;
                color: #1a0b5b;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
            }
        }
    }
}
