.myOrder {
    width: 100%;
    height: 100vh;
    display: flex;
    font-family: "Josefin Sans", sans-serif;
    .myOrder-container {
        width: 85%;
        height: 100%;
        .myOrder-title {
            width: 100%;
            height: 50px;
            display: flex;
            padding: 0 20px;
            .myOrder-title-left {
                width: 50%;
                display: flex;
                align-items: center;
                p {
                    font-size: 25px;
                    font-weight: bold;
                    color: #56606e;
                }
            }
            .myOrder-title-right {
                width: 50%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                i {
                    margin: 0 15px;
                }
                .myOrder-title-right-order {
                    color: #4da9ff;
                }
            }
        }
        .myOrder-search {
            margin-top: 20px;
            padding: 0 20px;
            width: 100%;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            input {
                width: 300px;
                height: 100%;
                background-color: #f7f7f7;
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;
                padding: 0 10px;
                letter-spacing: 2px;
                &::placeholder {
                    letter-spacing: 2px;
                }
            }
            .myOrder-search-icon {
                height: 100%;
                background-color: #f7f7f7;
                display: flex;
                align-items: center;
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
                padding-right: 15px;
                i {
                    &:hover {
                        cursor: pointer;
                        color: #4da9ff;
                    }
                }
            }
        }
        .myOrder-listOrder {
            width: 100%;
            height: calc(100% - 50px - 20px - 40px);
            display: flex;
            align-items: center;
            justify-content: center;
            overflow-y: auto;
            .myOrder-listOrder-table {
                width: 95%;
                height: 100%;
                .myOrder-listOrder-table-status {
                    width: 90%;
                    height: 35px;
                    border-radius: 5px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-weight: 500;
                }
                .HANDLING {
                    background-color: #fff5e5;
                    color: #ff9900;
                }
                .CANCELED {
                    background-color: #fde5e5;
                    color: #e80000;
                }
                .DELIVERING {
                    background-color: #e5ebfb;
                    color: #003ad2;
                }
                .DONE {
                    background-color: #e8f9ef;
                    color: #16c35b;
                }
                .myOrder-listOrder-table-view {
                    width: 100%;
                    height: 25px;
                    border: 1px solid #7e33e0;
                    border-radius: 5px;
                    color: white;
                    background-color: #7e33e0;
                    cursor: pointer;
                    &:hover {
                        background-color: white;
                        color: #7e33e0;
                    }
                }
            }
        }
    }
}
