.phone {
    width: 100%;
    height: 100vh;
    background-color: #7e33e0;
    font-family: "Josefin Sans", sans-serif;
    .phone-header {
        width: 100%;
        height: 90%;
        display: flex;
        .phone-left {
            width: 50%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            .phone-left-logo {
                a {
                    font-weight: bold;
                    letter-spacing: 20px;
                    color: white;
                    font-size: 100px;
                }
            }
        }
        .phone-right {
            width: 50%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            .phone-container {
                width: 400px;
                height: 500px;
                background-color: white;
                border-radius: 5px;
                color: #1a0b5b;
                .phone-container-header {
                    width: 100%;
                    height: 40%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .phone-container-header-image {
                        width: 100%;
                        height: 100%;
                        padding: 5px;
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: contain;
                        }
                    }
                }
                .phone-container-body {
                    width: 100%;
                    height: 45%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-around;
                    .phone-container-body-title {
                        width: 100%;
                        height: 15%;
                        text-align: center;
                        font-size: 20px;
                        font-weight: bold;
                        letter-spacing: 3px;
                    }
                    .phone-container-body-text {
                        padding: 0 50px;
                        width: 100%;
                        height: 45%;
                        text-align: center;
                        line-height: 20px;
                    }
                    .phone-container-body-input {
                        width: 100%;
                        height: 40%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        input {
                            width: 80%;
                            border-radius: 5px;
                            padding: 20px;
                            background-color: #eeeffb;
                            text-align: center;
                            color: #1a0b5b;
                            letter-spacing: 3px;
                            &::placeholder {
                                text-align: center;
                                font-weight: bold;
                                letter-spacing: 5px;
                            }
                        }
                    }
                    .error-verifyPhone {
                        color: red;
                        width: 80%;
                        font-size: 12px;
                        text-align: center;
                    }
                }
                .phone-container-footer {
                    width: 100%;
                    height: 15%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .phone-container-footer-btnSend {
                        width: 50%;
                        padding: 10px;
                        text-align: center;
                        font-size: 16px;
                        letter-spacing: 3px;
                        border-radius: 5px;
                        color: white;
                        cursor: pointer;
                        background-color: #7e33e0;
                        &:hover {
                            background-color: #ff2aaa;
                        }
                    }
                    .active {
                        opacity: 0.65;
                        cursor: not-allowed;
                        &:hover {
                            background-color: #7e33e0;
                        }
                    }
                }
            }
        }
    }
    .phone-footer {
        width: 100%;
        height: 10%;
        display: flex;
        align-items: center;
        justify-content: center;
        .phone-footer-icons {
            display: flex;
            i {
                width: 30px;
                height: 30px;
                margin-left: 10px;
                border-radius: 50%;
                background-color: white;
                color: #1a0b5b;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
            }
        }
    }
}
