.home-support {
    width: 100%;
    height: 100px;
    margin: 50px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 50px;
    font-family: "Josefin Sans", sans-serif;
    .home-support-shipping {
        height: 100%;
        width: 30%;
        background-color: #f8f8f8;
        border-radius: 5px;
        display: flex;
        align-items: center;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        transition: all 0.3s ease-in-out;
        &:hover {
            background-color: white;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        }
        .home-support-shipping-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 60%;
            width: 30%;
            border-right: 1px solid black;
            i {
                font-size: 60px;
            }
        }
        .home-support-shipping-content {
            width: 70%;
            height: 60%;
            margin-left: 15px;
            .home-support-shipping-content-title {
                color: #0d0e43;
                font-size: 20px;
                font-weight: bold;
            }
            .home-support-shipping-content-context {
                margin-top: 10px;
                color: #aaaaaf;
            }
        }
    }
    .home-support-call {
        height: 100%;
        width: 30%;
        background-color: #f8f8f8;
        border-radius: 5px;
        display: flex;
        align-items: center;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        transition: all 0.3s ease-in-out;
        &:hover {
            background-color: white;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        }
        .home-support-call-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 60%;
            width: 30%;
            border-right: 1px solid black;
            i {
                font-size: 60px;
            }
        }
        .home-support-call-content {
            width: 70%;
            height: 60%;
            margin-left: 15px;
            .home-support-call-content-title {
                color: #0d0e43;
                font-size: 20px;
                font-weight: bold;
            }
            .home-support-call-content-context {
                margin-top: 10px;
                color: #aaaaaf;
            }
        }
    }
    .home-support-return {
        height: 100%;
        width: 30%;
        background-color: #f8f8f8;
        border-radius: 5px;
        display: flex;
        align-items: center;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        transition: all 0.3s ease-in-out;
        &:hover {
            background-color: white;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        }
        .home-support-return-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 60%;
            width: 30%;
            border-right: 1px solid black;
            i {
                font-size: 60px;
            }
        }
        .home-support-return-content {
            width: 70%;
            height: 60%;
            margin-left: 15px;
            .home-support-return-content-title {
                color: #0d0e43;
                font-size: 20px;
                font-weight: bold;
            }
            .home-support-return-content-context {
                margin-top: 10px;
                color: #aaaaaf;
            }
        }
    }
}
