.product-details-content-product-infor-color-filter-container {
    cursor: pointer;
    position: relative;
    padding-left: 35px;
    margin-bottom: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default radio button */
  .product-details-content-product-infor-color-filter-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom radio button */
  .checkmark-color-white {
    border: 1px solid black;
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: white;
    border-radius: 50%;
  }
  .checkmark-color-black {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: black;
    border-radius: 50%;
  }
  .checkmark-color-brown {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: brown;
    border-radius: 50%;
  }
  .checkmark-color-ice {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #FFBF95;
    border-radius: 50%;
  }
  .checkmark-color-orange {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #FF9437;
    border-radius: 50%;
  }
  .checkmark-color-blue {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #5E37FF;
    border-radius: 50%;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark-color-white:after {
    content: "";
    position: absolute;
    display: none;
  }
  .checkmark-color-black:after {
    content: "";
    position: absolute;
    display: none;
  }
  .checkmark-color-brown:after {
    content: "";
    position: absolute;
    display: none;
  }
  .checkmark-color-ice:after {
    content: "";
    position: absolute;
    display: none;
  }
  .checkmark-color-orange:after {
    content: "";
    position: absolute;
    display: none;
  }
  .checkmark-color-blue:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .product-details-content-product-infor-color-filter-container input:checked ~ .checkmark-color-white:after {
    display: block;
  }
  .product-details-content-product-infor-color-filter-container input:checked ~ .checkmark-color-black:after {
    display: block;
  }
  .product-details-content-product-infor-color-filter-container input:checked ~ .checkmark-color-brown:after {
    display: block;
  }
  .product-details-content-product-infor-color-filter-container input:checked ~ .checkmark-color-ice:after {
    display: block;
  }
  .product-details-content-product-infor-color-filter-container input:checked ~ .checkmark-color-orange:after {
    display: block;
  }
  .product-details-content-product-infor-color-filter-container input:checked ~ .checkmark-color-blue:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .product-details-content-product-infor-color-filter-container .checkmark-color-white:after {
    top: 6px;
    left: 6px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: black;
  }
  .product-details-content-product-infor-color-filter-container .checkmark-color-black:after {
    top: 8px;
    left: 8px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: white;
  }
  .product-details-content-product-infor-color-filter-container .checkmark-color-brown:after {
    top: 8px;
    left: 8px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: white;
  }
  .product-details-content-product-infor-color-filter-container .checkmark-color-ice:after {
    top: 8px;
    left: 8px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: black;
  }
  .product-details-content-product-infor-color-filter-container .checkmark-color-orange:after {
    top: 8px;
    left: 8px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: white;
  }
  .product-details-content-product-infor-color-filter-container .checkmark-color-blue:after {
    top: 8px;
    left: 8px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: white;
  }