.formcomment-product {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.26);
    .formcomment-product-infor {
        width: 500px;
        height: 100px;
        display: flex;
        .formcomment-product-image {
            width: 20%;
            height: 100%;
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        .formcomment-product-infor {
            width: 80%;
            height: 100%;
            display: flex;
            flex-direction: column;
            .formcomment-product-infor-name {
                width: 100%;
                height: 50%;
                font-weight: bold;
                font-size: 18px;
            }
            .formcomment-product-infor-btn {
                width: 100%;
                display: flex;
                justify-content: flex-end;
            }
        }
    }
}
