.forgotpassword {
    width: 100%;
    height: 100vh;
    background-color: #7e33e0;
    font-family: "Josefin Sans", sans-serif;
    .forgotpassword-header {
        width: 100%;
        height: 90%;
        display: flex;
        .forgotpassword-left {
            width: 50%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            .forgotpassword-left-logo {
                a {
                    font-weight: bold;
                    letter-spacing: 20px;
                    color: white;
                    font-size: 100px;
                }
            }
        }
        .forgotpassword-right {
            width: 50%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            .forgotpassword-container {
                width: 400px;
                height: 550px;
                background-color: white;
                border-radius: 5px;
                color: #1a0b5b;
                .forgotpassword-container-header {
                    width: 100%;
                    height: 25%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .forgotpassword-container-header-image {
                        width: 100%;
                        height: 100%;
                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
                .forgotpassword-container-body {
                    width: 100%;
                    height: 40%;
                    .forgotpassword-container-body-title {
                        width: 100%;
                        height: 15%;
                        text-align: center;
                        font-size: 20px;
                        font-weight: bold;
                        letter-spacing: 3px;
                    }
                    .forgotpassword-container-body-text {
                        padding: 0 50px;
                        width: 100%;
                        height: 35%;
                        text-align: center;
                        line-height: 20px;
                    }
                    .forgotpassword-container-body-input {
                        width: 100%;
                        height: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        input {
                            width: 80%;
                            border-radius: 5px;
                            padding: 20px;
                            background-color: #eeeffb;
                            text-align: center;
                            color: #1a0b5b;
                            &::placeholder {
                                text-align: center;
                                font-weight: bold;
                                letter-spacing: 5px;
                            }
                        }
                    }
                }
                .forgotpassword-recaptcha {
                    width: 100%;
                    height: 18%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                .forgotpassword-error {
                    width: 100%;
                    height: 5%;
                    display: flex;
                    align-items: center;
                    padding: 0 50px;
                    color: red;
                    font-style: italic;
                }
                .forgotpassword-container-footer {
                    width: 100%;
                    height: 12%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .forgotpassword-container-footer-btnSend {
                        width: 50%;
                        padding: 10px;
                        text-align: center;
                        font-size: 16px;
                        letter-spacing: 3px;
                        border-radius: 5px;
                        color: white;
                        cursor: pointer;
                        background-color: #7e33e0;
                        &:hover {
                            background-color: #ff2aaa;
                        }
                    }
                    .notSend {
                        opacity: 0.65;
                        cursor: not-allowed;
                        &:hover {
                            background-color: #7e33e0;
                        }
                    }
                }
            }
        }
    }
    .forgotpassword-footer {
        width: 100%;
        height: 10%;
        display: flex;
        align-items: center;
        justify-content: center;
        .forgotpassword-footer-icons {
            display: flex;
            i {
                width: 30px;
                height: 30px;
                margin-left: 10px;
                border-radius: 50%;
                background-color: white;
                color: #1a0b5b;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
            }
        }
    }
}
