.print-order {
    font-family: "Josefin Sans", sans-serif;
    width: 100%;
    height: auto;
    border: 1px solid rgba($color: gray, $alpha: 0.3);
    padding: 20px;
    margin-bottom: 50px;
    .print-order-company {
        width: 100%;
        height: auto;
        display: flex;
        .print-order-company-left {
            margin-right: 10px;
            .print-order-company-text {
                margin-bottom: 10px;
            }
        }
        .print-order-company-right {
            font-weight: bold;
            .print-order-company-text {
                margin-bottom: 10px;
            }
        }
    }
    .print-order-title {
        width: 100%;
        height: auto;
        .print-order-title-text {
            width: 100%;
            text-align: center;
            font-weight: bold;
            font-size: 20px;
        }
        .print-order-title-date {
            width: 100%;
            text-align: center;
        }
    }
    .print-order-logo {
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        p {
            cursor: pointer;
            color: #0043f1;
            font-weight: bold;
            font-size: 35px;
            letter-spacing: 2px;
        }
    }
    .print-order-detail {
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: space-between;
        .print-order-detail-side {
            width: 30%;
            height: 100%;
            .print-order-detail-side-text {
                width: 100%;
                height: calc(100% / 3);
                label {
                    font-weight: bold;
                }
                span {
                    color: gray;
                }
            }
        }
    }
    .print-table-title {
        width: 100%;
        height: 50px;
        background-color: #f7f7f7;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
    }
    .print-order-table {
        width: 100%;
        height: auto;
        .print-table-size {
            font-size: 11px;
            color: #56606e;
        }
    }
    .print-table-footer {
        padding: 20px 0;
        width: 100%;
        height: 150px;
        background-color: #f7f7f7;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        .print-table-footer-subtotal {
            width: 30%;
            height: 33%;
            display: flex;
            .print-table-footer-subtotal-title {
                width: 55%;
                height: 100%;
                display: flex;
                align-items: center;
            }
            .print-table-footer-subtotal-cost {
                width: 45%;
                height: 100%;
                display: flex;
                align-items: center;
            }
        }
        .print-table-footer-total {
            width: 30%;
            height: 33%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 20px;
            font-weight: bold;
            .print-table-footer-total-title {
                width: 40%;
                height: 100%;
                display: flex;
                align-items: center;
            }
            .print-table-footer-total-cost {
                width: 45%;
                height: 100%;
                display: flex;
                align-items: center;
            }
        }
    }
    .print-order-dateSignal {
        margin-top: 20px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 0 50px;
    }
    .print-order-Signal {
        margin-top: 10px;
        margin-bottom: 50px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-weight: bold;
        padding: 0 50px;
    }
}
